<div class="empty">
    <div class="empty-img">
        {{ ux_icon('tabler:photo-off', {'class': 'icon icon-lg text-secondary'}) }}
    </div>
    <p class="empty-title">{{ 'ajay_sylius_media_hub.ui.no_media'|trans }}</p>
    <p class="empty-subtitle text-secondary">
        {{ 'ajay_sylius_media_hub.ui.no_media_subtitle'|trans }}
    </p>
</div>
